@tailwind base;
/* .Left-Div {
    top: 0px;
    left: 0px;
    width: 830px;
    height: 1080px;
    background: #FFDF80 0% 0% no-repeat padding-box;
    opacity: 1;
} */

/* .Feedback-Icon {
    top: 200px;
    left: 130px;
    width: 357px;
    height: 336px;
    opacity: 1;
}

.Feedback-Lead {
    top: 619px;
    left: 130px;
    width: 630px;
    height: 60px;
    font: Semibold 45px/60px Segoe UI;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
}

.Feedback-Logo {
    top: 29px;
    left: 49px;
    width: 226px;
    height: 53px;
    text-align: left;
    font: Bold 40px/53px Segoe UI;
    letter-spacing: 0;
    color: #000000;
    opacity: 1;
} */
@tailwind components;
@tailwind utilities;


