@tailwind base;
input::placeholder, select, textarea::placeholder {
    @apply italic
}

input {
    background: #E9F2F5 0% 0% no-repeat padding-box;
}

.Welcome-Div {
    background: #4B437C 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
}
.Auth-Div {
    background: #FFDF80 0% 0% no-repeat padding-box;
    opacity: 1;
}

.Auth-Form {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 10px;
    opacity: 1;
    height: 426px;
}

.Auth-Button {
    background: #F39FAF 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    width: 194px;
    height: 62px;
}

@tailwind components;
@tailwind utilities;